@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: Arial;
    display: flex;
    background: linear-gradient(45deg, #45EBA5, #21ABA5, #1D566E);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
    margin: 0;
    height: 95%;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


/* CABEÇALHO */
.cabeçalho{
    background: linear-gradient(45deg,#22577A, #38A3A5, #57CC99,#80ED99);
    position: fixed;
    width: 100%;
    height: 13%;
    margin: 0;
    border: solid 2px white;
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}
@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.cabeçalho #título{
    margin-top: 25px;
    margin-left: 20px;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 32px;
}

.cabeçalho p{
    font-size: 18px;
    display: inline-block;
    color:black;
    margin-left: 25px;
    font-weight: bold;
}

/* APRESENTAÇÃO */
.Apresentação{
    margin-top: 160px;
}

#titulo{
    text-align: center;
    text-transform: uppercase;
    margin-top: -20px;
    margin-right: 40px;
}

#tracinho1{
    margin: 50px 0px 0px 0px;
    width: 480px;
}

#tracinho2{
    margin: -40px 0px 0px 850px;
    width: 500px;
}



.card{
    margin: 50px 10px 0px 15px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    height: 85%;
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
}

.card #et{
    margin-right: 50px;
    width: 20%;
    height: 22%;
    border-radius: 5px;
}

#paragrafo{
    text-align: justify;
    margin: 0px 200px 0px 175px;
}

.card #Fontes{
    text-align: left;
    margin-left: 180px;
}